/* 男性用BMI結果画面ハイライト */
.bmi-results h2 {
  font-size: 30px;
  margin: 50px 0 0 0 ;
  font-weight: 500;
  background-color: rgb(188, 238, 238);
}

/* 男性用PFC結果画面ハイライト */
.pfc-results h2:not(.pfc-results .main-title, .sec-title h2){
  background-color: rgb(188, 238, 238);
}