body {
  background-color: #f4f7f8;
}

.navbar {
  margin: 2rem 0 2.5rem 0;
}

.my-navbar {
  align-items: center;
  background: #333;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 3rem;
}

.my-navbar-brand {
  font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
  /* color: #8c8c8c; */
  color: #ffffff;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover {
  color: #ecae52;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}

/* ＊＊＊＊＊ 結果一覧画面 ＊＊＊＊＊ */
.bmi .table th:first-child {
  width: 60%;
}
.bmi .table th:last-child {
  width: 5%;
}
.pfc .table th:first-child {
  width: 70%;
}
.pfc .table th:last-child {
  width: 10%;
}
/* --- もっと見るボタン --- */
.b-list-item, .p-list-item {
  opacity: 1;
}
.b-list-item.is-hidden, .p-list-item.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  display:none;
}
.b-list-btn, .p-list-btn {
  margin-top: 20px;
}
.b-list-btn.is-btn-hidden, .p-list-btn.is-btn-hidden {
display:none;
}
.b-list-btn button, .p-list-btn button {
  background-color: #333;
  color:#fff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  height: 32px;
  line-height: 32px;
  width: 120px;
}
.b-list-btn button:hover,
.p-list-btn button:hover {
  color: #ecae52;
}

/* ＊＊＊＊＊ BMI入力画面 ＊＊＊＊＊ */
.bmi_mesure_form .col-md-10{
  padding-right: 0px;
}
.bmi_mesure_form .unit{
  font-size: 20px;
}


/* ＊＊＊＊＊ PFC入力画面 ＊＊＊＊＊ */
.pfc_mesure_form .col-md-10{
  padding-right: 0px;
}
.pfc_mesure_form .unit{
  font-size: 20px;
}
.pfc_mesure_form .confirm{
  text-align: left;
}

